@font-face {
    font-family: 'ZenDots-font';
    src: url(fonts/ZenDots-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-font';
    src: url(fonts/RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Architects';
    src: url(fonts/ArchitectsDaughter-Regular.ttf);
}

* {
    cursor: pointer;
}

body {
    text-align: center;
    background-color: rgb(29, 35, 42);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
}


/*nav-bar countainer */

.navbar-container {
    display: flex;
    color: white;
    background-color: rgb(70, 149, 70);
    height: 150px;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding: 15px;
    justify-content: space-between;
}

.memes-gen {
    text-align: start;
    margin-left: 80px;
    align-self: center;
    font-family: 'ZenDots-font';
}

.gallery-btn {
    text-align: end;
    margin-right: 80px;
    align-self: center;
    font-family: 'Architects';
    font-size: 40px;
}

.canvas-container {
    display: none;
    margin: 80px;
}

.hover:hover {
    background-color: rgb(53, 46, 36);
    cursor: pointer;
    transition: 0.7s;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.img-text {
    margin: 10px;
}

button {
    font-size: 30px;
    padding: 10px;
    margin: 4px;
    background: rgb(61, 112, 82);
    color: rgb(255, 255, 255);
    font-family: 'ariel';
    border-radius: 0.5rem;
}

.imojies-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 50px;
}

input {
    font-size: 25px;
}

img {
    width: 150px;
    height: 150px;
    margin: 5px;
    overflow: hidden;
    border-radius: 0.5rem;
    filter: grayscale(40%);
}

img:hover {
    /* border: 1px solid black;
    cursor: pointer; */
    transition: 0.3s;
    transform: scale(1.2);
    filter: none;
}

.imgs-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.generator-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editor-container {
    display: none;
    margin-right: 300px;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    background-color: rgb(72, 155, 72);
    height: 50px;
    text-align: center;
    border-radius: 0.5rem;
    padding: 15px;
    color: white;
}

small {
    text-align: center;
    margin-top: 300px;
}

.fonts {
    font-size: 25px;
    width: 200px;
}

@media screen and (max-width: 960px) {
    .generator-container {
        flex-direction: column;
    }
    .canvas-container {
        display: none;
        margin: 5px;
    }
    button {
        font-size: 20px;
        margin: 2px;
    }
    .editor-container {
        margin-right: 0px;
    }
    .imojies-container {
        display: flex;
        justify-content: center;
        margin: 10px;
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .generator-container {
        flex-direction: column;
        height: auto;
    }
    .canvas-container {
        display: none;
        margin: 5px;
    }
    .navbar-container {
        display: flex;
        flex-direction: column;
    }
    .memes-gen {
        align-self: center;
        margin-left: 0;
    }
    .gallery-btn {
        align-self: center;
    }
    button {
        font-size: 20px;
        margin: 2px;
    }
    .gallery-btn {
        text-align: end;
        margin-right: 80px;
        align-self: center;
        font-size: 40;
        margin-left: 60px;
    }
    .footer {
        height: 100px;
        border-radius: 0.5rem;
        color: white;
    }
    .editor-container {
        display: flex;
        align-items: center;
    }
    .memes-gen {
        font-size: 50px;
    }
    #memes-canvas {
        width: 100%;
    }
    .editor-container {
        display: none;
        margin-right: 0px;
    }
    .imojies-container {
        display: flex;
        justify-content: center;
        margin: 10px;
        font-size: 30px;
    }
    .fonts {
        margin-bottom: 10px;
    }
    .hover:hover {
        cursor: pointer;
        transition: 0.7s;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}